.cube_section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cube_inner_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

/* контейнер куба */
.container {
    position: relative;
    width: var(--window-width);
    height: var(--window-height);
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale3d(var(--scale-cube));
}

/* сам куб */
.cube {
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

/* каждая сторона */
.side {
    position: absolute;
    backface-visibility: hidden;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid #9da09d; */
    /* box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; */
}

.external_top_side {
    width: var(--window-width);
    height: var(--window-width);
    position: absolute;
    /* backface-visibility: hidden; */
    /* border: 1px solid #9da09d; */
    /* box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; */
    /* background: linear-gradient(#979a97, #c8c6c6) !important; */
    transform: rotateX(90deg) translateZ(calc(var(--window-height) / 2 - 1px));
}
.external_bottom_side {
    width: var(--window-width);
    height: var(--window-width);
    position: absolute;
    /* backface-visibility: hidden; */
    /* border: 1px solid #9da09d; */
    /* box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; */
    /* background: linear-gradient(#979a97, #c8c6c6) !important; */
    transform: rotateX(-90deg) translateZ(calc(var(--window-height) / 2 - 1px));
}

.inner_top_and_bottom_side {
    border: none;
    box-shadow: none;
}

/* позиции сторон */
.front {
    transform: translateZ(calc(var(--window-width) / 2));
    /* background: linear-gradient(#9da09d, #C0C0C0); */
}
.back {
    transform: rotateY(180deg) translateZ(calc(var(--window-width) / 2));
    /* background: linear-gradient(#9da09d, #C0C0C0); */
}
.right {
    transform: rotateY(90deg) translateZ(calc(var(--window-width) / 2));
    /* background: linear-gradient(#9da09d, #C0C0C0); */
}
.left {
    transform: rotateY(-90deg) translateZ(calc(var(--window-width) / 2));
    /* background: linear-gradient(#9da09d, #C0C0C0); */
}
.top {
    transform: rotateX(90deg) translateZ(calc(var(--window-height) / 2));
    /* background: linear-gradient(#9da09d, #C0C0C0); */
}
.bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--window-height) / 2));
    /* background: linear-gradient(#9da09d, #C0C0C0); */
}

/*текущее положение в зависимости от параметров роутера*/
.current_side {
    transform: rotate3d(var(--current-turn));
}
