.wrapper {
  width: 100%;
  overflow: auto;
  height: 100%;
}

.title {
  text-align: left;
}

.description {
  text-align: left;
}

.joinMessage {
  text-align: center;
}

.icon {
  margin-right: 5px;
}

.flexContainer {
  display: flex;
  align-items: center;
}

.message {
  text-align: left;
  margin-left: 35px;
}
